.btn{
    color:#444;
    display: block;
    background: white;
    width: 100px;
    margin: 0px auto;
    font-size: 11px;
    text-shadow: none;
    line-height: 35px;
    box-shadow: 0px 0px 5px rgb(88,88,88);
    border-radius: 4px;
    transition: 300ms all;
}

.btn:hover{
    background-color: #444;
    color: white;
}